---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

body{
    font-size: 18px;
    overflow-x: hidden;
}
.quote{
    font-style: italic;
    padding-top: 10px;
    padding-bottom: 14px;
    border-left: solid black thick;
    padding-left: 20px;
    margin-bottom: 15px;
}

.quote b{
    color: grey;
}

.figure{
    text-align: center;
    margin-bottom: 10px;
}

.figure .desc{
    font-size: 12px;
    padding-top: 4px;
}

.full-width{
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.flex-container{
    display:flex;
}

.flex-container.center{
    justify-content:center;
}

.flex-container.wrap{
    flex-wrap: wrap;
}

.site-footer{
    background-color: #f2f2f2;
}

.footer-col-1{
    width: 200px;
}

.noteBox{
    margin-right: 10px;
    padding-right: 10px;
    font-size: 14px;
    white-space: nowrap;
    border-right: dotted thin grey;
}

.talkIcon{
    margin-right:10px; 
    width:48%; 
    margin-bottom: 10px; 
    border: solid gray thin;
}